MVCProject/Connected Services/AppService/RequestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RequestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50615/RequestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50615/RequestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50615/RequestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppService.DATA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRequestService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IRequestService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestService_GetRequestByCondition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestByCondition" />
  </wsdl:message>
  <wsdl:message name="IRequestService_GetRequestByCondition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestByConditionResponse" />
  </wsdl:message>
  <wsdl:portType name="IRequestService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestService/DoWork" message="tns:IRequestService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestService/DoWorkResponse" message="tns:IRequestService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestByCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestService/GetRequestByCondition" message="tns:IRequestService_GetRequestByCondition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestService/GetRequestByConditionResponse" message="tns:IRequestService_GetRequestByCondition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="RequestService" />
</wsdl:definitions>