MVCProject/Connected Services/AppService/RequestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppService.DATA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppService.DATA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceRequestDATA">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPROVEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LSTREQ" nillable="true" type="tns:ArrayOfServiceRequestDATA" />
      <xs:element minOccurs="0" name="REQCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceRequestDATA" nillable="true" type="tns:ServiceRequestDATA" />
  <xs:complexType name="ArrayOfServiceRequestDATA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceRequestDATA" nillable="true" type="tns:ServiceRequestDATA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceRequestDATA" nillable="true" type="tns:ArrayOfServiceRequestDATA" />
</xs:schema>