MVCProject/Connected Services/AppService/RequestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50615/RequestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppService.DATA" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AppService.DATA" minOccurs="0" name="order" nillable="true" type="q1:ServiceRequestDATA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AppService.DATA" minOccurs="0" name="GetRequestByConditionResult" nillable="true" type="q2:ServiceRequestDATA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>